<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Информация о пользователе</title>
  <link rel="stylesheet" th:href="@{/static/styles/userdetails.css}">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
  <header class="header">
    <div class="user-profile">
      <span class="user-name" th:text="${user.getLogin()}">Anonymous</span>
      <a href="#" class="profile-link">
        <img th:src="@{/static/images/man-silhouette.jpg}" alt="Профиль" class="profile-pic">
      </a>
    </div>
  </header>
  <nav class="nav">
    <ul>
      <li><a th:href="@{/main}">Dashboard</a></li>
      <li><a th:href="@{/projects}">Проекты</a></li>
    </ul>
  </nav>
  <main class="main">
    <div class="user-details">
      <div class="details-text">
        <h2>Информация о пользователе</h2>
        <p><strong>Имя:</strong> <span th:text="${user.firstName}">Имя пользователя</span></p>
        <p><strong>Фамилия:</strong> <span th:text="${user.lastName}">Фамилия пользователя</span></p>
        <p><strong>Логин:</strong> <span th:text="${user.login}">Логин пользователя</span></p>
        <div class="task-status">
          <div class="status в_работе">
            <p>Задач в работе:</p>
            <p th:text="${inProgressTasksCount}">0</p>
          </div>
          <div class="status на_проверке">
            <p>Задач на проверке:</p>
            <p th:text="${underReviewTasksCount}">0</p>
          </div>
          <div class="status Завершено">
            <p>Завершенных задач:</p>
            <p th:text="${completedTasksCount}">0</p>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <canvas id="taskStatusChart"></canvas>
      </div>
    </div>
  </main>
  <footer class="footer">
    <a href="/tasks/create" class="create-task-button">+</a>
    <div class="developer-info">
      Разработчик: Багаутдинов Марсель
    </div>
  </footer>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('taskStatusChart').getContext('2d');
    var inProgressTasksCount = [[${inProgressTasksCount}]];
    var underReviewTasksCount = [[${underReviewTasksCount}]];
    var completedTasksCount = [[${completedTasksCount}]];

    var taskStatusChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['В работе', 'На проверке', 'Завершены'],
        datasets: [{
          data: [inProgressTasksCount, underReviewTasksCount, completedTasksCount],
          backgroundColor: ['#FDB634', '#2196F3', '#A0D061'],
          borderColor: ['#FDB634', '#2196F3', '#A0D061'],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Статусы задач'
          }
        }
      },
    });
  });
</script>
</body>
</html>
