* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #1F1F24;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
    background-color: #1F1F24;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #1F1F24;
    border-bottom: 1px solid white;
    padding: 10px;
    flex-shrink: 0;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-name {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}

.profile-link {
    display: inline-block;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav {
    background: #1F1F24;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    padding: 15px;
    flex-shrink: 0;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    transition: color 0.3s ease;
    color: #64B5F6;
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 900px;
    background-color: #3C3C44;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 10px;
    background-color: #2C2C34;
    border: 1px solid #3C3C44;
    color: white;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    width: 150px;
}

button:hover {
    background-color: #45A049;
}

.footer {
    padding: 20px;
    background: #1F1F24;
    border-top: 1px solid white;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    flex: 1;
    color: #888888;
    text-align: left;
}

.developer-info {
    flex: 1;
    color: #888888;
    text-align: right;
}

.create-task-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 10px 20px;
    background-color: #888;
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-task-button:hover {
    background-color: #1F1F24;
}
