* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #1F1F24;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
    background-color: #1F1F24;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #1F1F24;
    border-bottom: 1px solid white;
    padding: 10px;
    flex-shrink: 0;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-name {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}

.profile-link {
    display: inline-block;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav {
    background: #1F1F24;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    padding: 15px;
    flex-shrink: 0;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    transition: color 0.3s ease;
    color: #64B5F6;
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    width: 100%;
    background-color: #3C3C44;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.user-details, .chart-section {
    margin-bottom: 20px;
}

.user-details h2, .chart-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: center;
}

strong {
    color: white;
}

.status {
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 5px;
    text-align: center;
}

.в_работе {
    color: #FDB634;
}

.на_проверке {
    color: #2196F3;
}

.Завершено {
    color: #A0D061;
}

.footer {
    padding: 20px;
    background: #1F1F24;
    border-top: 1px solid white;
    flex-shrink: 0;
    position: relative; /* Добавим позиционирование */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    flex: 1;
    color: #888888;
    text-align: left; /* Выравнивание текста по левому краю */
}

.developer-info {
    flex: 1;
    color: #888888;
    text-align: right; /* Выравнивание текста по правому краю */
}

.create-task-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование кнопки */
    display: inline-block;
    padding: 10px 20px;
    background-color: #888; /* Цвет кнопки */
    border: 1px solid white;
    color: white; /* Цвет текста */
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.create-task-button:hover {
    background-color: #1F1F24; /* Цвет кнопки при наведении */
}
